prefect==2.16.7
mlflow==3.9.0
fastapi
uvicorn
polars
pandas
numpy<2.0
scikit-learn
xgboost
pyarrow
python-dotenv
pytest
griffe==0.38.1
pydantic==2.6.4
pydantic-core==2.16.3
joblib
streamlit
requests
prophet
evidently==0.4.16